  //
 // Calendar module (2)
//

// >>> Controllers — START
@use "../controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END


// Copy, paste and uncomment the following code into the intended SCSS page to style this module:
// @extend %calendar_2_module;

%calendar_2_module {

	.calendar_2_module {
		:focus {
			outline: 0;
		}

		.form-floating > .form-control:focus ~ label,
		.form-floating > .form-control:not(:placeholder-shown) ~ label,
		.form-floating > .form-select ~ label {
			padding: 0 .75rem !important;
			font-size: 10px;
			background-color: $color_white;
			border: 1px solid $color_first;
			border-radius: 25px;
		}

		.form-control,
		.form-select {
			display: block;
			height: calc(2.5rem + 2px);
			vertical-align: middle;
			background-color: #fff;
			background-image: none;
			border: 1px solid #dde4e9;
			-webkit-box-shadow: none;
			box-shadow: none;
			-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}

		.form-control:focus,
		.form-select:focus {
			border-color: #1ca8dd;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(102, 175, 233, .6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(102, 175, 233, .6);
			outline: 0;
		}
		// form <<out>>

		.calendar_Item {
			border-bottom: 1px solid $color_second;
			@include filling_effect($color_second, $color_third, $color_fourth, $color_third);


			&:hover {
				border-bottom: 1px solid transparent;
			}

			.calendar_Month {
				font-weight: 600;
			}
		}

		.calendar_Filter {
			color: $color_second;
			background-color: $color_white;
			border: 1px solid $color_second;

			&:hover {
				color: $color_second;
				background-color: $color_third;
				border-color: $color_third;
			}
		}
	}



/////
////
/*/==================== @media ====================/*/// {
/////////////////
////////////////
			  ////////////////////////
			 /* @media (max-width) */
			////////////////////////

			@media (max-width: 1399.98px) {

				.calendar_2_module {



				}

			}

			@media (max-width: 1199.98px) {

				.calendar_2_module {



				}

			}

			@media (max-width: 991.98px) {

				.calendar_2_module {



				}

			}

			@media (max-width: 767.98px) {

				.calendar_2_module {



				}

			}

			@media (max-width: 575.98px) {

				.calendar_2_module {



				}

			}

				// -------------- //

			  ////////////////////
			 /* @media between */
			////////////////////

			@media (min-width: 576px) and (max-width: 767.98px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 576px) and (max-width: 991.98px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 768px) and (max-width: 991.98px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 992px) and (max-width: 1199.98px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 1200px) and (max-width: 1399.98px) {

				.calendar_2_module {



				}

			}

				// ------------------ //

			  ////////////////////////
			 /* @media (min-width) */
			////////////////////////

			@media (min-width: 576px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 768px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 992px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 1200px) {

				.calendar_2_module {



				}

			}

			@media (min-width: 1400px) {

				.calendar_2_module {



				}

			}

				// ---------------- //

			  //////////////////////
			 /* mobile landscape */
			//////////////////////

			@media (max-height: 400px) and (orientation: landscape) {

				.calendar_2_module {



				}

			}

				// ----------------- //

			  ///////////////////////
			 /* iPad Pro portrait */
			///////////////////////

			@media (width: 1024px) and (height: 1366px) {

				.calendar_2_module {



				}

			}
  //  }

}
