  //
 // Card slider module
//

// >>> Controllers — START
@use "../controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END


// Copy, paste and uncomment the following code into the intended SCSS page to style this module:
// @extend %slider_imgs_in_card_module;

%slider_imgs_in_card_module {

	.slider_imgs_in_card_module {
		.nomeproductTestata {
			border-bottom: 2px solid;
		}

		.slider_img {
			.container_img_product_slider {
				height: 250px;
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
				// border-radius: 20px 20px 0 0px;
			}

			.link_product {
				&:hover {
					opacity: 1 !important;

					.container_product .link_product_container {
						box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
						box-shadow: 0 4px 18px 0 rgb(0 0 0 / 9%), 0 6px 40px 0 rgb(0 0 0 / 10%);
						-webkit-box-shadow: 0 4px 18px 0 rgb(0 0 0 / 9%), 0 6px 40px 0 rgb(0 0 0 / 10%);
						-moz-box-shadow: 0 4px 18px 0 rgb(0 0 0 / 9%), 0 6px 40px 0 rgb(0 0 0 / 10%);
						transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;
						-o-transition: all 0.5s ease-in-out;

						.info_sport {
							bottom: 40px;
							transition: all 0.5s ease-in-out;
							-webkit-transition: all 0.5s ease-in-out;
							-moz-transition: all 0.5s ease-in-out;
							-o-transition: all 0.5s ease-in-out;
						}
					}
				}
			}

			.info_sport {
				position: absolute;
				bottom: 20px;
				right: 20px;
				border: 2px solid;
				color: $color_white;
				font-size: 0.81rem;
				transition: all 0.5s ease-in-out;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
			}

			.slickdsi-prev,
			.slickdsi-next {
				top: 83px;
				position:absolute;
				font-size: 0.9rem;
				cursor: pointer;
				line-height: 0.5rem;
				color: $color_black !important;
				border: 0;
				border-radius: 50%;
				padding: 20px;
				opacity: 0.6;
				background-color: $color_white;
				transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
			}

			.slickdsi-prev:hover,
			.slickdsi-next:hover {
				color: $color_first !important;
			}

			.slickdsi-prev {
				left: -17px;
			}

			.slickdsi-next {
				right: -3px;
			}

			.slider-for {
				display: none;
			}

			.text_product,
			.info-sport {
				color: $color_white;
			}

			.container_product {
				// background-color: rgba(0, 51, 102, 0.05);
				border-radius:20px;
			}

			.complessi_type {
				font-weight: 600;
				color: $color_first;
			}

			.caratteristiche {
				color: $color_fourth;
			}

		}

		h6 {
			font-weight: 600;
			color: $color_white;
		}

		p {
			color: $color_white;
		}

		.small {
			line-height: 1.3;
		}

		.event_gallery_container {
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		}

		.hero_text {

			h6,
			p {
			color: $color_second;
			}
		}

		.date_and_icon {
			color: $color_third;

			time:hover {
				color: $color_third;
			}
		}

		.link_modal_event {
			position: absolute;
			bottom: 0;
			right: 1.5rem;

			i {
				font-size: 1.7rem;
				font-weight: 300;
				// color: $color_third;
			}

			&:hover {
				color: $color_first;
				opacity: 0.7;
			}
		}

		.slick-prev,
		.slick-next {
			background-color: rgba(255, 255, 255, 0.7);
			z-index: 10;
			width: 30px;
			height: 30px;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		.slick-prev {
			left: 0;

		}
		.slick-next {
			right: 0;
		}

		.slick-prev:before {
			content: "<";
			font-family: "Poppins", sans-serif;
			font-size: 1.3rem;
			line-height: 1.4;
			color: $color_first;
		}

		.slick-next:before {
			content: ">";
			font-family: "Poppins", sans-serif;
			font-size: 1.3rem;
			line-height: 1.4;
			color: $color_first;
		}
	}



/////
////
/*/==================== @media ====================/*/// {
/////////////////
////////////////
			  ////////////////////////
			 /* @media (max-width) */
			////////////////////////

			@media (max-width: 1399.98px) {

				.card_event_home_module {



				}

			}

			@media (max-width: 1199.98px) {

				.card_event_home_module {



				}

			}

			@media (max-width: 991.98px) {

				.card_event_home_module {



				}

			}

			@media (max-width: 767.98px) {

				.card_event_home_module {



				}

			}

			@media (max-width: 575.98px) {

				.card_event_home_module {



				}

			}

				// -------------- //

			  ////////////////////
			 /* @media between */
			////////////////////

			@media (min-width: 576px) and (max-width: 767.98px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 576px) and (max-width: 991.98px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 768px) and (max-width: 991.98px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 992px) and (max-width: 1199.98px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 1200px) and (max-width: 1399.98px) {

				.card_event_home_module {



				}

			}

				// ------------------ //

			  ////////////////////////
			 /* @media (min-width) */
			////////////////////////

			@media (min-width: 576px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 768px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 992px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 1200px) {

				.card_event_home_module {



				}

			}

			@media (min-width: 1400px) {

				.card_event_home_module {



				}

			}

				// ---------------- //

			  //////////////////////
			 /* mobile landscape */
			//////////////////////

			@media (max-height: 400px) and (orientation: landscape) {

				.card_event_home_module {



				}

			}

				// ----------------- //

			  ///////////////////////
			 /* iPad Pro portrait */
			///////////////////////

			@media (width: 1024px) and (height: 1366px) {

				.card_event_home_module {



				}

			}
  //  }

}
