  //
 // Modules controller
//

@forward "../modules/calendar_module";
@forward "../modules/calendar_2_module";
@forward "../modules/card_horiz_module";
@forward "../modules/card_vert_module";
@forward "../modules/card_vert_2_module";
@forward "../modules/hero_html5_module";
@forward "../modules/hero_html5_2_module";
@forward "../modules/html_text_editor_1_module";
@forward "../modules/modal_credits_module";
@forward "../modules/slider_hero_module";
@forward "../modules/slider_hero_2_module";
@forward "../modules/slider_hero_3_module";
@forward "../modules/slider_imgs_in_card_module";
@forward "../modules/slider_selection_module";
@forward "../modules/txt_img_row_module";
@forward "../modules/txt_img_row_2_module";
@forward "../modules/txt_img_row_vert_module";
